<!-- <textarea rows="10" [value]="newPost" #postInput></textarea> -->
<!-- we can add # - which is a marker that will input a variable from js
  to the html and then pass data to the onAddPost-->
<!-- <hr>
<button (click)="onAddPost(postInput)">Save Post</button>
<p>{{ newPost }}</p> -->

<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title" ngModel required>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="10" name="content" ngModel required></textarea>
    </mat-form-field>
    <button
    mat-raised-button
    color="accent"
    type="submit">Save Post</button>
  </form>

</mat-card>

<hr>


